.DS_Store
.venv/
.venv-test/
.pyinstaller/
build/
dist/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.swp
*.swo
*.bak
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
node_modules/
*.dSYM/
.release_token
